cupy-cuda12x>=13.0.0
moviepy==2.2.1
numpy<3.0.0
opencv-python==4.12.0.88
pytest==9.0.2
python-dotenv==1.2.1
random2==1.0.2
soundfile==0.13.1
tqdm
# decord removed - install manually
# torch/torchaudio removed - they are built into the image